.DS_Store
eboot.bin
*.pkg
pkg.gp4
sce_sys/param.sfo
merger-app/x64/Debug/*
!merger-app/x64/Debug/.gitkeep

splitter/build/*
!splitter/build/.gitkeep
splitter/build-linux/*
!splitter/build-linux/.gitkeep

ps4-app-merge-pkgs-fork-plan.md
tests/test_runner
tests/test_*_runner
tests/test_runner_sanitized
tests/test_*_sanitized
tests/*.dSYM/
splitter/splitter

.idea